<h2>delete</h2>

<% if @error_message %>
    <div class="error_message">
        <%= @error_message %>
    </div>
<% end %>

<div class="post">
    <div class="post_name">name:<%= @post.name %></div>
    <div class="post_date">date:<%= @post.created_at.strftime('%Y/%m/%d') %></div>

    <% if @post.image.attached? %>
        <div class="post_image"><%= image_tag @post.image %></div>
    <% end %>

    <div class="post_content"><%= simple_format(@post.content) %></div>
</div>

<%= form_with url: "/#{@post.id}/destroy", local: true  do |form| %>
    <p>password<%= form.password_field :password %></p>
    <%= form.submit "post" %>
<% end %>



