<h2>edit</h2>

<% if @error_message %>
    <div class="error_message">
        <%= @error_message %>
    </div> 
<% end %>

<%= form_tag("/#{@post.id}/update", {multipart: true})  do %>
    <div class="submit">
        <p>
            name
            <input class="name" name="name" type="text" value="<%= @post.name %>">
        </p>

        <p>
            image
            <input name="image" type="file">
            <% image_name="imgbbs"+format("%004d", @post.id)+".jpg" %>
            <% if File.exist?("public/post_images/#{image_name}") %>
                <img src="/post_images/<%= image_name %>" alt="<%= image_name %>">
            <% end %>
        </p>

        

        <p>
            comment
            <textarea class="content" name="content"><%= @post.content %></textarea>
        </p>

        <p>
            password
            <input class="password" name="password" type="password">
        </p>

        <p><input class="submit_button" type="submit" value="edit"></p>
    </div>
<% end %>



