<h2>edit</h2>

<% if @error_message %>
    <div class="error_message">
        <%= @error_message %>
    </div> 
<% end %>

<%= form_with url: "/#{@post.id}/update", local: true  do |form| %>
    <p>name<%= form.text_field :name, :value=>@post.name %></p>

    <p>image<%= form.file_field :image %></p>
    <% if @post.image.attached? %>
        <div class="post_image"><%= image_tag @post.image %></div>
    <% end %>

    <p>comment<%= form.text_area :content, :value=>@post.content %></p>
    <p>tag<%= form.text_field :tag, :value=>@post.tag %></p>
    <p>password<%= form.password_field :password %></p>
    <%= form.submit "post" %>
<% end %>
