<h2>page:<%= @page %></h2>



<div class="index">
    
    <% @post.each do |post| %>
        <div class="post">
            <div class="post_number">number:<%= post.post_id %></div>
            <div class="post_name">name:<%= post.name %></div>
            <div class="post_date">date:<%= post.created_at.strftime('%Y/%m/%d') %></div>

            <% image_name="imgbbs"+format("%004d", post.id)+".jpg" %>
            <% if File.exist?("public/post_images/#{image_name}") %>
                <div class="post_image">
                    <img src="/post_images/<%= image_name %>" alt="<%= image_name %>">
                </div>
            <% end %>

            <div class="post_content"><%= simple_format(post.content) %></div>
            <div class="edit_and_delete">
                <%= link_to("edit",controller: "home", action: "edit", id: post.id) %>
                 / 
                <%= link_to("delete",controller: "home", action: "delete", id: post.id) %>
            </div>
        </div>
    <% end %>

</div>

<div class="navi">
    <%= link_to("prev","/page/#{@page-1}") %>

    <% if @page*10<Post2.last.post_id %>
        / <%= link_to("next","/page/#{@page+1}") %>
    <% end %>
</div>

<div class="navi2">
    <% for i2 in 1..@pages %>
    
        <% if i2==@page %>
            <span><%= @page %></span>
        <% else %> 
            <%= link_to("#{i2}","/page/#{i2}") %>
        <% end %> 
        
    <% end %>
</div>

