<% if flash[:notice] %>
    <div class="flash">
        <%= flash[:notice] %>
    </div>
<% end %>


<h2>tag:<%= @tag %></h2>

<div class="index">
    
    <% @post.each do |post| %>
        <div class="post">
            <div class="post_number">number:<%= post.post_id %></div>
            <div class="post_name">name:<%= post.name %></div>
            <div class="post_date">date:<%= post.created_at.strftime('%Y/%m/%d') %></div>

            <div class="post_tag">tag:
                <% post.tag.to_s.split(",").each do |tag| %>
                    <%= link_to("#{tag}",controller: "home", action: "tag", id: tag) %> 
                <% end %> 
            </div>

            <% if post.image.attached? %>
                <div class="post_image"><%= image_tag post.image %></div>
            <% end %>

            <div class="post_content"><%= simple_format(post.content) %></div>

            <div class="like">
                <%= link_to ({ controller: "home", action: "like", id: post.id}),
                data: { turbo_method: :post  } do %>
                    <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                <% end %>
                <%= post.like %> 
            </div>

            <div class="edit_and_delete">
                <%= link_to("edit",controller: "home", action: "edit", id: post.id) %>
                 / 
                <%= link_to("delete",controller: "home", action: "delete", id: post.id) %>
            </div>
        </div>
    <% end %>

</div>